<div
  class="model-updates"
  data-model-updates-model="Task"
  data-model-updates-id="<%= @task.id %>"
  data-model-updates-key="name"
  data-model-updates-remove-on-destroy="true"
>
  <%= @task.name %>
</div>
